@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    background-color: #E9E9E9;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background: #D0DED8;
    padding: 10px 20px;
    padding-left: 0;
    padding-right: 0;
}

.logocarefit {
    display: flex;
    padding-left: 0px;
}

.logocarefit img {
    width: 300px;
    height: auto;
    padding-left: 0px;
    margin-left: 0px;
}

.checkout {
    margin-right: 50px;
}

.full_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.begin {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.garis-horizontal-1 {
    border: none; 
    border-top: 2px solid #588b76; 
    margin: 10px 0; 
    margin-left: 0px;
    margin-right: 0px;
}

.alamat {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.text {
    margin-top: 10px;
}

.mainproduk {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}


.pengiriman {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}



.pembayaran {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}



.totalharga {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.penutup_pembayaran {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.first {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.second {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    background: #D0DED8;
}

.txt1 {
    margin-left: 750px;
}

.txt {
    margin-left: 70px;
}
