@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom left, #d0ded8, #18392b);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  background-color: #ffffff;
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  height: 350px;
}

.form-wrapper h2 {
  font-family: Poppins;
  margin-bottom: 30px;
  text-align: center;
}

.input-style {
  position: relative;
  margin-bottom: 15px;
}

.input-style input {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 40px; 
}

.input-style .bx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 22px;
  color: #ccc;
}

.input-style label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 13px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-style input:focus + label,
.input-style input:valid + label {
  font-size: 0px;
  top: 0;
}


.wrapper {
  text-align: center; 
  padding-top: 10px; 
}

.btn {
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: #d0ded8;
  color: #18392b;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi untuk perubahan warna */
  transition: color 0.3s;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #18392b;
  color: #d0ded8;
}

.sign-link {
  text-align: center; 
}

.sign-link a {
  color: #1863bc;
  text-decoration: none;
}

.sign-link a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgba(
    240,
    240,
    240,
    0.7
  );
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #555;
  position: relative;
}

footer p::before {
  content: "";
  margin: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 500vw;
  height: 1px;
  background-color: #555;
  transform: translateX(-50%);
}
