@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color : #E9E9E9;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background: #D0DED8;
    padding: 10px 20px;
    padding-left: 0;
    padding-right: 100px;
    justify-content: space-between;
}

.logocarefit {
    display: flex;
}

.logocarefit img {
   max-width: 300px;
   height: auto;
   padding-left: 0px;
   margin-left: 0px;
}

.search {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 400px;
    margin-bottom:auto
}

.search_box {
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000000;
    text-transform: capitalize;
    background: #FFFFFF;
    color: #a9a9a9;
    outline: none;
}

.search_btn {
    width: 200px;
    height: auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 15px;
    color: #a9a9a9;
}

.search-box:placeholder{
    color: #a9a9a9;
}

.profile {
    margin-right: 50px;
}

.profile img{
    max-width : 50px;
}

/* Content Keranjang */

.keranjangbelanja {
    width: 100%;
    height: 80px;
    margin-top: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}


.full_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.left_content {
  width: 600px;
  margin-top: 0;
  padding: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}


.pilih_semua {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 25px 40px #B2ABAB;
    background: #FFFFFF;
    display: flex;
    justify-content: left; 
    align-items: center; 
    gap: 10px;
    padding: 30px;
}

.pilih_semua form  {
   width: 100%;
   display: flex;
   align-items: center; 
   gap: 10px;
}

.pilih_semua form input {
    width: 30px;
    height: 30px;
}

.pilih_semua form label {
    font-size: 20px; 
}


.produk {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
     border-radius: 10px;
    box-shadow: 0px 25px 40px #B2ABAB;
    background: #FFFFFF;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}

.produk form {
  display: flex;
  align-items: center; /* Menengahkan vertikal */
  gap: 10px;
  margin-top: 30px;
}

.produk form input {
    width: 30px;
    height: 30px;
}

.produk form label {
    font-size: 20px;
}

.produk img {
    width: 130px;
    height: 130px;
}
.right_content {
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 0px 25px 40px #B2ABAB;
    background: #FFFFFF;
}

h2 {
    padding-left: 40px;
    padding-top: 20px;
}

.text_above {
    padding-left: 40px;
    margin-top: 5px;
}

.garis-horizontal-1 {
    border: none; 
    border-top: 1px solid #000000; 
    margin: 10px 0; 
    margin-left: 40px;
    margin-right: 40px;

}

.text_below {
    padding-left: 40px;
    margin-top: 20px;
}

.Checkout {
    margin: 50px 500px 50px 75px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background: #D0DED8;
    font-size: 20px;
}

.footer {
    background: #D0DED8;
}


.footer_container {
    width: 100%;
    height: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    padding-left: 40px;
    padding-bottom: 200px;
    margin-bottom: 10px;
}

.col {
    text-decoration: dashed;
    color: black;
    text-align:left;
    padding-left: 20px;
}

.col a {
    font-size:  ;
    padding-left: 0px;
    text-align: left;
}

.garis-horizontal-2 {
    border: #000000; 
    border-top: 1px solid #000000;  
    margin: 10px 0;  
    margin-left: 40px;
    margin-right: 40px;
    background-color: #D0DED8;
    background: #D0DED8;
}

.penutup { 
    width: 100%;
    height: 25px;
    color: #7B7575;
    background: #D0DED8;
    background-color: #D0DED8;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}



