/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Set a background color for the whole page */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

/* Style the main container */
.main_container {
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 0px 25px 40px #B2ABAB;
    background: #fff;
}

/* Style the header container */
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    z-index: 100;
    width: 280%;
    height: 90px;
    background: #D0DED8;
    padding: 10px 20px;
    padding-left: 0;
    padding-right: 100px;
    justify-content: space-between;
}

.image_header {
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


/* Style the logo */
.logo {
   max-width: 300px;
   height: auto;
   padding-left: 0px;
   margin-left: 0px;
}

.login_header {
    font-size: 24px;
    color: #000;
}

/* Style the content container */
.content_container {
    margin-top: 20px;
    display: grid;
    justify-content: space-between;
}

/* Style the left content box */
.boxleft_content img {
    max-width: 100%;
    height: auto;
}

/* Style the right content box */
.boxright_content {
    flex-grow: 1;
    padding-left: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.button_login {
    background-color: #B2ABAB;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the footer */
.footer {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 14px;
}